<link rel="stylesheet" type="text/css" href="asset/css/layout-social.css">

<div class="header">
    <span class="back-button"><i class="fas fa-chevron-left" onclick="webRoute('social-home');"></i></span>
    KRPKL 
    <div class="notification">
        <i class="fa fa-exchange" onclick="webRoute('club-menu');"></i> <!-- FontAwesome ellipsis (three dots) icon -->
    </div>
</div>

<div class="content">
    <!-- Tabs for My Post Likes and Users Who Liked My Post -->
    <!-- User List -->
    <div id="myPostLikes" class="user-list">
        <!-- Add more user items as needed -->
    </div>

</div>


<script>
    
</script>