<link rel="stylesheet" type="text/css" href="asset/css/layout-social.css">

<div class="header">
    KRPKL 
    <div class="notification">
        <i class="fa fa-exchange" onclick="webRoute('club-menu');"></i> <!-- FontAwesome ellipsis (three dots) icon -->
    </div>
</div>

<div class="content">
    <div class="search-container">
        <input type="text" placeholder="Search..." class="search-input">
        <button class="search-button"><i class="fas fa-search"></i></button>
    </div>

    <!-- Search Results -->
    <div class="search-results" id="displayListUsers">
        
    </div>
</div>

<!-- Modal Background -->
<div class="modal-background" id="modalBackground"></div>

<!-- Modal for Creating a Post -->
<div class="modal" id="createPostModal" >
    <div style="margin: 20px;">
        <span class="close-modal-button" id="closeModalButton">&times;</span>
        <h3>Create a Post</h3>
        <textarea placeholder="Write something..." rows="4"></textarea>

        <div class="image-upload" id="modalImageUpload">
            <label for="modalImageInput">
                <i class="fas fa-camera"></i>
                <input type="file" id="modalImageInput" accept="image/*" multiple>
            </label>
        </div>

        <div class="form-buttons">
            <button type="button" class="cancel-button fullBtn" id="cancelModalButton">Cancel</button>
            <button type="submit" class="fullBtn">Post</button>
        </div>
    </div>
</div>


<div class="menu-bottom">
    <a  onclick="webRoute('social-home');"><i class="fas fa-home"></i></a>
    <a  onclick="webRoute('social-search');"><i class="fas fa-search"></i></a>
    <a  id="plusButton"><i class="fas fa-plus"></i></a>
    <a  onclick="webRoute('social-like');"><i class="fas fa-heart"></i></a>
    <a  onclick="webRoute('social-profile');"><i class="fas fa-user"></i></a>
</div>

<script type="text/javascript" src="asset/js/social-upload.js"></script>
<script type="text/javascript" src="asset/js/social-search.js"></script>