<link rel="stylesheet" type="text/css" href="asset/css/layout-club.css">

<div class="content-wrapper">
    <div class="app-container">
        <header class="app-header">
            <a onclick="webRoute('club-menu');" class="back-button"><i class="fas fa-chevron-left"></i></a>
            <h3>Timeline</h3>
        </header>

        <section class="event-list-section">
            <div class="event-item">
                <h4>Annual Sports Day</h4>
                <p>15th March, 2024 | 10:00 AM - 5:00 PM</p>
                <p>Location: Central Stadium</p>
            </div>
            <div class="event-item">
                <h4>Club Meeting</h4>
                <p>28th March, 2024 | 3:00 PM - 4:30 PM</p>
                <p>Location: Clubhouse</p>
            </div>
            <div class="event-item">
                <h4>Team Building Workshop</h4>
                <p>10th April, 2024 | 9:00 AM - 3:00 PM</p>
                <p>Location: Mountain Retreat</p>
            </div>
            <div class="event-item">
                <h4>Team Building Workshop</h4>
                <p>10th April, 2024 | 9:00 AM - 3:00 PM</p>
                <p>Location: Mountain Retreat</p>
            </div>
        </section>
    </div>
</div>


<footer class="app-footer">
    <nav class="bottom-nav">
        <a onclick="webRoute('club-menu');">Home</a>
        <a onclick="webRoute('club-event');">Events</a>
        <a onclick="webRoute('club-timeline');">Timeline</a>
        <a onclick="webRoute('social-home');">Social</a>
    </nav>
</footer>


